{% extends 'quiz/base.html' %}
{% load static %}

{% block content %}
<div>
    <form id="quiz-creation" action="" method="post">
        {% csrf_token %}
        {{quiz_creation_form.connection_code}}<!--<input type="text" name="connection_code" id="create-quiz-code" maxlength="50" required="">-->
        <!--Стандартное отображение ошибок валидации django. При успешной загрузке javascript его нужно спрятать, включив валидацию на js
        (код присоединения содержит только латинские буквы, цифры, подчёркивания, дефисы, не повторяется(такого кода не существует, если на
        запрос GET http://127.0.0.1:8000/api/participant/quizzes/{код}/ получен ответ {"detail":"Not found."})-->
        {{quiz_creation_form.errors}}<!--<ul class="errorlist"><li>connection_code<ul class="errorlist"><li>{текст ошибки}</li></ul></li></ul>-->
        <button type="submit" name="quiz-create">Погнали!</button>
    </form>
</div>
<div class="connection-wrapper">
    <div class="connection">
        <img src="./img//connection-code-pic.png" width="348px">
        <div>
            <h2>Есть код присоединения?</h2>
            <p>Скорей беги проходить тест</p>
        </div>
        <form id="quiz-connection" action="" method="post">
            {% csrf_token %}
            <!--Для элементов формы указан атрибут form, так что их можно выносить за пределы тега <form> без последствий-->
            <!--<input type="text" name="connection_code" placeholder="Введи его сюда" form="quiz-connection" maxlength="50" required="" id="id_connection_code">-->
            {{quiz_connection_form.connection_code}}
            <!--<input type="text" name="name" placeholder="Введи имя сюда:" form="quiz-connection" maxlength="100" required="" id="id_name">-->
            {{quiz_connection_form.name}}
            <!--Аналогично предыдущему списку ошибок валидации-->
            {{quiz_connection_form.errors}}
            <button form="quiz-connection" type="submit" name="quiz-connect" id="code-submit"></button>
        </form>
    </div>
</div>
<script>
    //btn = document.querySelector('#code-submit');
    //btn.onclick = (evt) => {
    //    evt.preventDefault()
    //    window.location.pathname = '/quiz-solving/' + document.querySelector('#code-input').value + '/';
    //}
</script>
{% endblock %}