{% extends 'quiz/base.html' %}
{% load static %}

{% block content %}
<body>
<div>
    <h2>{{question.text}}</h2>
    <div class="answers">
        {% for answer in answers %}
        <div>
          <p>{{answer.text}}</p><input type="checkbox" value="{{answer.pk}}">
        </div>

        {% endfor %}
      <button id="send">Отправить</button>
    </div>
</div>
</body>
<script>
    const quizSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/quiz/'
            + '{{quiz.pk}}'
            + '/'
        );
    chosenAnswers = [];
    document.querySelector('#send').onclick = function test(evt) {
        checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
        checkboxes.forEach(c => {
            chosenAnswers.push(parseInt(c.value));
        });
        quizSocket.send(JSON.stringify({
            'name': '{{name}}',
            'question_pk': {{question.pk}},
            'question_text': '{{question.text}}',
            'question_number': {{question_number}},
            'chosen_answers': chosenAnswers
        }))
        if (parseInt({{question_number}}) + 1 <= {{questions_count}}) {
            window.location.pathname = 'quiz-solving/{{quiz.connection_code}}/' + (parseInt({{question_number}}) + 1) + '/'
        }
        else {
            window.location.pathname = ''
        }
    };
</script>
{% endblock %}