{% extends 'quiz/base.html' %}
{% load static %}

{% block content %}
<div class="quiz-constructor-container">
    <div class="phone-wrapper">
        <div class="phone-preview">
            <output class="question-text" name="question-text" form="question-form">
                В каком году родился Иван Грозный?
            </output>
            <div class="answers">
                <output class="answer" id="answer-output-1" form="question-form">
                    1530
                </output>
                <output class="answer" id="answer-output-2" form="question-form">
                    1529
                </output>
                <output class="answer" id="answer-output-3" form="question-form">
                    1528
                </output>
                <output class="answer" id="answer-output-4" form="question-form">
                    1527
                </output>

            </div>
        </div>
        <div class="flipper creation-flipper">
            <a class="flip-arrow flip-left" href="/quiz/{{quiz_pk}}/{{prev}}"></a>
            <div>
                <span class="current-question">{{question_order}}</span>/<span class="question-count">{{questions_count}}</span>
            </div>
            <a class="flip-arrow flip-right" href="/quiz/{{quiz_pk}}/{{next}}"></a>
        </div>
    </div>
    <form action="" method="POST" class="construction-menu" id="question-form" autocomplete="off">
        {% csrf_token %}
        {{question_form.text}}
        {{answers_formset.management_form}}

        <div class="add-answers">
            {% for form in answers_formset %}
            {% csrf_token %}
            <div class="new-answer">
                {{form.text}}
                <label class="checkbox-correct-label">
                    {{form.is_correct}}
                    <span></span>
                </label>
                {{form.DELETE}}
                {{form.id}}
            </div>
<!--            {{form}}-->
            {% endfor %}
        </div>
        <div class="buttons">
            <button form="q-del" class="button-delete" type="submit">
                Удалить
            </button>
            <button type="submit" class="button-save">
                Сохранить
            </button>
        </div>
    </form>
    <form id="q-del" action="del/" method="POST">
        {% csrf_token %}
    </form>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'quiz/js/quiz-constructor.js' %}" type="module"></script>
{% endblock %}